.main-card-repo {
  width: 90%;
  border-radius: 10px;
  box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.2);
}

.card-header img {
  border-radius: 50%;
}

@media (min-width: 600px) {
  .main-card-repo {
    width: 32%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .card-header img {
    border-radius: 50%;
  }
}
